<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
	</configSections>
	<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd" autoReload="true" throwExceptions="false" throwConfigExceptions="true" internalLogLevel="Trace" internalLogFile="c:\temp\nlog-public.log">

		<variable name="baseDirectory" value="C:/Users/{environment-user:userName=true}/AppData/Roaming" />
		<variable name="appName" value="XLAutoDeploy" />
		<variable name="appVersion" value="Version" />
		<variable name="officeBitness" value="Bitness" />

		<variable name="targetDirectory" value="${baseDirectory}/${appName}/${var:appVersion}/${var:officeBitness}/${environment-user:userName=true}/" />
		<variable name="targetFileSuffix" value="Log.txt" />
		<variable name="targetFileName" value="${environment-user:userName=true}.${machinename}.${targetFileSuffix}" />

		<variable name="archiveDirectory" value="${targetDirectory}/Archive/" />
		<variable name="archiveFileSuffix" value="ArchiveLog.txt" />
		<variable name="archiveFileName" value="${environment-user:userName=true}.${machinename}.${archiveFileSuffix}" />

		<targets>
			<target xsi:type="File" name="file" layout="${longdate}|${level:uppercase=true}|${logger}|${message}|${exception:format=ToString}" createDirs="true" fileName="${targetDirectory}${targetFileName}" archiveFileName="${archiveDirectory}${archiveFileName}" archiveDateFormat="yyyyMMddHHmm" archiveEvery="Month" archiveNumbering="Date" maxArchiveFiles="0" keepFileOpen="true" concurrentWrites="true" encoding="utf-8" cleanupFileName="false" />
		</targets>

		<rules>
			<logger name="*" minlevel="Info" writeTo="file" />
		</rules>
	</nlog>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Security.Cryptography.Xml" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>