<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
	</configSections>
	<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
		  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		  xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
		  autoReload="true"
		  throwExceptions="false"
		  throwConfigExceptions="true"
		  internalLogLevel="Trace" internalLogFile="c:\temp\nlog-public.log">

		<variable name="appName" value="XLAutoDeploy"/>
		<variable name="officeBitness" value="64Bit"/>
		<variable name="baseDirectory" value="//s-hdqfp03/publicshare/TechOps/Business Intelligence Applications/Core APIs/Excel AddIns/LogFiles/${appName}/${officeBitness}/"/>

		<variable name="targetDirectory" value="${baseDirectory}${environment-user:userName=true}/"/>
		<variable name="targetFileSuffix" value="Log.txt"/>
		<variable name="targetFileName" value="${environment-user:userName=true}.${machinename}.${targetFileSuffix}"/>

		<variable name="archiveDirectory" value="${targetDirectory}/Archive/"/>
		<variable name="archiveFileSuffix" value="ArchiveLog.txt"/>
		<variable name="archiveFileName" value="${environment-user:userName=true}.${machinename}.${archiveFileSuffix}"/>

		<targets async="true">
			<target name="file" xsi:type="File"
					layout="${longdate}|${level:uppercase=true}|${logger}|${message}|${exception:format=ToString}"
					fileName="${targetDirectory}${targetFileName}"
					archiveFileName="${archiveDirectory}${archiveFileName}"
					archiveDateFormat="yyyy-MM-dd HH.mm.ss"
					archiveNumbering="Date"
					archiveEvery="Year"
					maxArchiveFiles="7"
					keepFileOpen="false"
					encoding="utf-8"
					concurrentWrites="true"
			/>

			<target name="debugfile" xsi:type="File"
					layout="${longdate}|${level:uppercase=true}|${logger}|${message}|${exception:format=ToString}"
					fileName="${targetDirectory}Debug/${targetFileName}"
					keepFileOpen="false"
					encoding="utf-8"
					concurrentWrites="true"
			/>
		</targets>

		<rules>
			<logger name="*" minlevel="Info" writeTo="file" />
			<logger name="debugfile" minlevel="Trace" writeTo="debugfile" />
		</rules>
	</nlog>
</configuration>